<!DOCTYPE html>

<html>
<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
<script src="~/js/script.js" asp-append-version="true"></script>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <div>
        
        @RenderBody()
    </div>
    
</body>
</html>
